root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = false

[*.{md,ps1,bat,json,yml,yaml,txt,html,xml,cs}]
charset = utf-8

[*.md]
trim_trailing_whitespace = true

[*.ps1]
end_of_line = crlf

